$red-header: #fa2828;
$carrot: #ff5252;
$carrot-hover: #d12121;
$light-gray: #e5e5e5;
$low-middle-gray: #c4c4c4;
$middle-gray: #988f8f;
$upper-middle-gray: #4d4747;
$dark-gray: #363232;

$header-height: 100px;
$header-font-size: calc(1.1rem + 1.585vw);

$main-height: calc(100vh - $header-height);
$max-width-content: 1400px;
$padding-top-main: 40px;

$error-font-size: calc(1.1rem + 0.75vw);
